# Local .terraform directories
**/.terraform/*
modules/aws-s3-web-bucket/*.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore .tfvars (may be required if running CI/CD with CircleCi)
*.tfvars